* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  background: black;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.faux-input {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 0px;
  height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}

.term {
  background: #000;
  height: 100%;
  margin: 0 auto;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: none;
  font-size: 16pt;
  padding: 1em;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: block;
  line-height: 1.2em;
  overflow-y: scroll;
  position: relative;
  color: #0da350;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1.337s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.term-focus {
  text-shadow: none;
  color: #1bff80;
}

.term .red {
  color: red;
}
.term .blue {
  color: blue;
}
.term .white {
  color: #63ff8a;
}
.term .bold {
  font-weight: bold;
}

.term .italic{ 
  font-style: italic;
}

.bell {
  margin: 0.08em;
  width: 10px;
  height: 1.1em;
  line-height: 1.0em;
  background: #63ff8a;
  position: absolute;
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    visibility: visible;
  }
  49% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #111;
}
